<div class="settings-container2">
    <a href="/users" class = "allusers-button text-center">All Users</a>
    <a href="/settings" class="settings-button">Settings</a>
    <div class="header-container">
        <h1 class="mainheader">Welcome {{user.firstname}} {{user.lastname}}</h1>
    </div>
</div>
<div class = "session-headers">
    <a href = "/" class = "wr-header">Current Sessions</a>
    <a href = "/completed" class = "ip-header">Past Sessions</a>
</div>
<div>
    <h2 class = "no-sessions" style = "display: none;">No Current Sessions</h2>
</div>
<div class = "session-list"></div>
<div class = "end-div"></div>
<script defer src="./js/admin.js" type="module"></script>
