<div>
    <h1 class = "mainheader">Welcome {{user.firstname}} {{user.lastname}}
        <a href="/settings">Settings</a>
    </h1>
</div>
<div>
    <form>
        <input type="text" placeholder = "Search students" name="search" required>
        <button type="submit">Search</button>  
    </form>
    <form>
        <input type="text" placeholder = "Search tutors" name="search" required>
        <button type="submit">Search</button>
    </form>
</div>
<div>
    <span>Waiting Room</span>
    <span>In Progress</span>
</div>