<div class = "settings-container2">
    <h1 class = "mainheader">Welcome {{user.firstname}} {{user.lastname}}</h1>
    <a href="/users" class = "allusers-button text-center">All Users</a>
    <a href="/settings" class = "settings-button">Settings</a>
</div>
<div class = "session-headers">
    <span class = "wr-header">Waiting Room</span>
    <span class = "ip-header">In Progress</span>
</div>
<div class = "session-list"></div>
<script defer src="./js/admin.js" type="module"></script>