<div class = "settings-container">
    <h1 class = "mainheader">Welcome {{user.firstname}} {{user.lastname}}</h1>
    <a href="/settings" class = "settings-button">Settings</a>
</div>
<div>
    <form>
        <input type="text" placeholder = "Search students" name="search" required>
        <button type="submit">Search</button>  
    </form>
    <form>
        <input type="text" placeholder = "Search tutors" name="search" required>
        <button type="submit">Search</button>
    </form>
</div>
<div>
    <span>Waiting Room</span>
    <span>In Progress</span>
</div>