<div class="settings-container2 flex items-center bg-purple1 mb-0 relative">
    <a href="/users" class = "allusers-button absolute text-ft-15 text-center text-center">All Users</a>
    <a href="/settings" class="settings-button text-ft-15 absolute">Settings</a>
    <div class="header-container text-center w-full">
        <h1 class="mainheader bg-purple1 m-0 text-ft-30 p-0 text-white h-20 leading-[75px]">Welcome {{user.firstname}} {{user.lastname}}</h1>
    </div>
</div>
<div class = "session-headers flex w-full">
    <a href = "/" class = "wr-header">Current Sessions</a>
    <a href = "/completed" class = "ip-header">Past Sessions</a>
</div>
<div>
    <h2 class = "no-sessions" style = "display: none;">No Current Sessions</h2>
</div>
<div class = "session-list"></div>
<div class = "end-div"></div>
<script defer src="./js/admin.js" type="module"></script>