<!DOCTYPE html>
<html>
  <head>
    <title>ULC Schedule Manager</title>
    <link rel="stylesheet" href="../css/style.css">
    <h1 class = "mainheader">{{title}}</h1>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
