<div class = "login-container rounded shadow-lg"> 
    <form method = "POST" action = "/register">
        <h2 class = "login-header">Register</h2>
        {{#if message}}
        <h2 class = "login-error">{{message}}</h2>
        {{/if}}
        <div class="container">
            <input type="radio" id="student" name="role" value="student" class = "user-btn" required>
            <label for="student" class = "user-btn-label">Student</label>
            <input type="radio" id="tutor" name="role" value="tutor" class = "user-btn" required>
            <label for="tutor" class = "user-btn-label">Tutor</label>
            <input type="radio" id="admin" name="role" value="admin" class = "user-btn" required>
            <label for="admin" class = "user-btn-label">Admin</label>
            <br>
            <br>
            <input type="text" placeholder="First Name" name="firstname" class = "login-username shadow-lg" required>
            <br>
            <input type="text" placeholder="Last Name" name="lastname" class = "login-username shadow-lg" required>
            <br>
            <input type="text" placeholder="Username" name="username" class = "login-username shadow-lg" required>
            <br>
            <input type="password" placeholder="Password" name="password" class = "login-password shadow-lg" required>
            <br>
            <button type="submit" class = "login-button">Register</button>
            <h2 class = "loginto-register text-center">Already have an account? <a href="/login" class = "register-link">Login</a></h2>
        </div>
    </form> 
</div>