<div class = "settings-container">
    <h1 class = "mainheader">Welcome {{user.firstname}} {{user.lastname}}</h1>
    <a href="/settings" class = "settings-button">Settings</a>
</div>
<div id="coursePopup" style="display:none;" class = "request-course">
  <form id="courseForm" method = "POST" action = "/student">
    <label for="courseSelect" class = "courseSelLabel">Choose a course:</label>
    <select id="courseSelect" name = "course">
        <option value="0">Select a course</option>
        {{#each user.courses as |course|}}
            <option value="{{course.id}}">{{course.title}}</option>
        {{/each}}
    </select>
    <button type="submit" class = "login-button">Submit</button>
  </form>
</div>
<div class = "session-list"></div>
<script defer src="./js/student.js" type="module"></script>