<div class = "settings-container">
    <h1 class = "mainheader">Sessions with {{user.firstname}} {{user.lastname}}</h1>
    <a href="/settings" class = "settings-button">Settings</a>
</div>
<div>
    <span>Waiting Room</span>
    <span>In Progress</span>
</div>