<div>
    <h1 class = "mainheader">Sessions with {{user.firstname}} {{user.lastname}}
        <a href="/settings">Settings</a>
    </h1>
</div>
<div>
    <span>Waiting Room</span>
    <span>In Progress</span>
</div>