@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


.mainheader {
    background-color: rgb(96, 27, 156);
    height: 75px;
    font-family: Didot;
    margin: 0px; 
    padding: 0px;
    color: white;
    line-height: 75px;
    font-size: 30px;
}

h1.mainheader, h1 {
    margin: 0;
    padding: 0;
}

.header-container {
    width: 100%;
    text-align: center;
}

.login-container {
    width: 40%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(96, 27, 156);
    margin-top: 100px;
}

.login-header {
    font-family: Didot;
    font-size: 30px;
    color: white;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 30px;
}

.container {
    margin-top: 20px;
}

.login-username {
    font-family: Didot;
    font-size: 20px;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    margin-left: auto;
    margin-right: auto;
    
}

.login-password {
    font-family: Didot;
    font-size: 20px;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid black;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    margin-left: auto;
    margin-right: auto;

}

.login-button {
    font-family: Didot;
    font-size: 20px;
    border: 1px solid white;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    margin-top: 5px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    margin-left: auto;
    margin-right: auto;
}

.login-button:hover {
    background-color:white;
    color: rgb(65, 24, 80);
}

.submit-button {
    font-family: Didot;
    font-size: 20px;
    border: 1px solid black;
    color: black;
    border-radius: 10px;
    height: 40px;
    width: 100px;
    margin-top: 5px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    margin-left: auto;
    margin-right: auto;
}

.loginto-register {
    font-family: Didot;
    font-size: 15px;
    color: white;
    margin-top: 40px;

}

.user-btn-label {
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 20px;
}

.user-btn {
    width: 20px;  
    height: 20px; 
    -webkit-appearance: none; 
    appearance: none;
    border-radius: 50%;       
    border: 2px solid white;   
    outline: none;
    transition: background 0.3s;
}

.user-btn:checked {
    background: white; 
}

.register-link {
    font-family: Didot;
    font-size: 15px;
    color: rgb(212, 186, 227);

}

.settings-header {
    background-color: rgb(96, 27, 156);
    color: white;
    font-size: 30px;
    text-align: center;
    height: 75px;
    margin-bottom: 50px;
}

.settings-info {
    border-radius: 5px;
    margin-right: 300px;
    margin-left: 300px;
    padding: 20px;
    background-color: rgb(234, 220, 239);
    margin-bottom: 50px;

}

.student-info {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.settings-name {
    font-size: 20px;

}

.settings-username {
    margin-bottom: 10px;
    font-size: 20px;
}

.settings-course {
    font-weight: 700;
    font-size: 20px;
}

.settings-cname {
    font-size: 15px;
    margin-bottom: 10px;

}

.settings-prof {
    font-size: 15px;

}

.settings-home {
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    text-align: right;
    padding: 5px;
    margin-right: 20px;

}

.settings-button {
    position: absolute;
    right: 20px; 
    top: 50%;
    transform: translateY(-50%); 
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    padding: 5px;
}

.settings-button:hover {
    background-color:rgb(223, 193, 232);
}

.allusers-button {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
    padding: 5px;
    text-align: center;
}

.allusers-button:hover {
    background-color:rgb(223, 193, 232);
}

.settings-container {
    display: flex;
    align-items: center;
    background-color: rgb(96, 27, 156);
    height: 75px;
    margin-bottom: 50px;
    position: relative; 
}

.settings-container2 {
    display: flex;
    align-items: center;
    background-color: rgb(96, 27, 156);
    height: 75px;
    margin-bottom: 0px;
    position: relative;
}

.settings-course-card {
    border-radius: 5px;
    background-color: white;
    color: black;
    padding: 20px;
    width: 65%;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;

}


.add-course-cont {
    display: flex;
    flex-direction: column;
    align-items: center;    
    justify-content: center; 
    background-color: rgb(234, 220, 239);
    height: auto;            
    padding: 20px;           
    margin-bottom: 50px;
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 50px;

}

.course-name {
    font-family: Didot;
    font-size: 20px;
    padding: 5px;
    width: 200px;
    border-radius: 5px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
}

.addcourse-button {
    font-family: Didot;
    font-size: 20px;
    color: black;
    border: 1px solid black;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    margin-top: 5px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    margin-left: auto;
    margin-right: auto;

}

.addcourse-button:hover {
    background-color: rgb(65, 24, 80);
    color: white;
}

.request-course {
    justify-content: center;
    align-items: center; 
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background-color: rgb(234, 220, 239);
    border-radius: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

#courseForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#courseSelect {
    width: 70%;
    padding: 10px;
    margin-top: 10px;
    font-family: Didot;      
    font-size: 20px;         
    border-radius: 5px;      
    margin-bottom: 20px;
}

.request-button {
    font-family: Didot;
    font-size: 20px;
    background-color: rgb(65, 24, 80);;
    color: white;
    border-radius: 10px;
    height: 40px;
    width: 20%;
    margin-top: 5px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.courseSelLabel {
    font-size: 25px;

}


.session {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(234, 220, 239);
    height: auto;
    padding: 20px;
    margin-bottom: 50px;
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 50px;
    color: black;

}

.cancel-button {
    font-size: 20px;
    color: black;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    margin-top: 20px;
    border: 1px solid black;

}

.cancel-button:hover {
    background-color: rgb(65, 24, 80);
    color: white;
}

.pending-header {
    font-size: 30px;

}

.pending-course {
    font-size: 20px;

}

.pending-student {
    font-size: 20px;

}

.pending-tutor {
    font-size: 20px;
}

.display-none {
    display: none;

}

.session-headers {
    display: flex;
    width: 100%;
}

.wr-header, .ip-header {
    flex: 1;
    text-align: center;
    width: 50%;
}

.wr-header {
    background-color: rgb(234, 220, 239);
    color: black;
    font-size: 24px;
    padding: 10px;
}

.ip-header {
    background-color: white;
    color: black;
    font-size: 24px;
    padding: 10px;
}

.tutor-name {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.all-tutors-header {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.all-students-header {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.student-name {
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}


.search-student {
    display: flex; 
    align-items: center; 
    justify-content: flex-start; 
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(234, 220, 239);
    padding: 10px;

}

.search-students-header {
    margin: 0;
    white-space: nowrap;
    font-size: 20px;
}

.student-search {
    border-radius: 5px;
    padding: 5px;

}

.usersearch-button {
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    padding: 5px;
}

.usersearch-button:hover {
    background-color:rgb(65, 24, 80);
    color: white;

}

.login-error {
    color: red;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    
}

.select {
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 20px;
    width: 300px;

}

.assign-button {
    font-size: 20px;
    color: black;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 1px solid black;

}

.assign-button:hover {
    background-color:rgb(65, 24, 80);
    color: white;
    
}

.start-button {
    font-size: 20px;
    color: black;
    border-radius: 10px;
    height: 40px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border: 1px solid black;

}

.start-button:hover {
    background-color: rgb(65, 24, 80);
    color: white;
}

.footer {
    margin-top: 100px;
}

.close {
    color:rgb(65, 24, 80);
    font-size: 30px;
}

.close:hover {
    cursor: pointer;
}

.modal {
    background-color: rgb(234, 220, 239);
    margin: 20% auto;
    padding: 20px;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.edit-session-button {
    font-size: 20px;
    color: black;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 1px solid black;
    margin-top: 30px;
}

.edit-session-button:hover {
    background-color:rgb(65, 24, 80);
    color: white;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.edit-header {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.select2 {
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    width: 300px;
}

.edit-button {
    font-size: 20px;
    color: black;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 1px solid black;

}

.edit-button:hover {
    background-color:rgb(65, 24, 80);
    color: white;
}

.eval-button {
    font-size: 18px;
    color: black;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: 1px solid black;

}

.eval-button:hover {
    background-color:rgb(65, 24, 80);
    color: white;
}

.select2,
.datetime-input {
    /*flex-grow: 1;*/
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    width: 300px;
}

.modal-label {
    font-size: 20px;
    margin-right: 10px;
    white-space: nowrap;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.input-group2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.input-group3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

.radio-label {
    margin-left: 5px;
    margin-right: 10px;
}

.check-label {
    margin-left: 5px;
    margin-right: 10px;
}

.end-button {
    font-size: 20px;
    color: black;
    border-radius: 10px;
    height: 40px;
    width: 150px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;

}

.end-button:hover {
    background-color:rgb(65, 24, 80);
    color: white;
}

.textarea-input {
    width: 300px;
    padding: 10px;
    font-size: 15px;
    
}

.no-sessions {
    font-size: 30px;
    text-align: center;
    margin-top: 50px;

}

.four04 {
    font-size: 60px;
    text-align: center;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    color: rgb(96, 27, 156);
}

.pnf {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    color: rgb(96, 27, 156);

}

.return-home {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    color: rgb(96, 27, 156);
    text-decoration: underline;
    display: flex;
    justify-content: center;
    align-items: center;
}